* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 0fr 4fr 0.1fr;
  gap: 15px;
  min-height: 100%;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  justify-self: flex-start
}

.menu {
  width: 100%;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 40px;
  row-gap: 10%;
  align-items: center;
  align-content: center;
  justify-content: end;
  padding-right: 10%;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  align-content: center;
}

.nav {
  background-color: #C50208;
  width: 100%;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  list-style: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/-1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}